:root {
	--background-color-rgb: 0, 0, 0;
	--color: #FFF;
	--border-color: #2F3336;
	/* --active-filter-background-color: TODO; */
	/* --active-filter-border-color: TODO; */
	--disabled-button-color: #939393;
	--disabled-button-stroke: #c0c0c0;
	--disabled-button-fill: #404040;
}

:link {
	color: #0FF;
}

:visited {
	color: #F0F;
}

@media (prefers-contrast: more) {
	:root {
		--border-color: #FFF;
		--disabled-button-stroke: #FFF;
	}
}
