:root {
	--background-color: #000;
	--color: #FFF;
	--border-color: #2F3336;
	/* --active-filter-background-color: TODO; */
	/* --active-filter-border-color: TODO; */
	--disabled-button-color: #939393;
	--disabled-button-stroke: #c0c0c0;
	--disabled-button-fill: #404040;
	--translucent-background-color: #0004;
}

@supports not ((backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px))) {
	:root {
		--translucent-background-color: #000C;
	}
}

:link {
	color: #0FF;
}

:visited {
	color: #F0F;
}

@media (prefers-contrast: more) {
	:root {
		--border-color: #FFF;
		--disabled-button-stroke: #FFF;
	}
}
