:root {
	--color: #000;
	--border-color: #000;
	/* --active-filter-background-color: TODO; */
	/* --active-filter-border-color: TODO; */
	--disabled-button-color: GrayText;
	--disabled-button-stroke: #6d6d6d;
	--disabled-button-fill: #c0c0c0;
}

@media (prefers-contrast: more) {
	:root {
		--disabled-button-stroke: #000;
	}
}
